# Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Environment
.env
venv/
env/
*.egg-info/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# OneDrive
*.tmp
~$*

# Node (if any frontend)
node_modules/

# Logs
*.log

# Static/media (if generated)
staticfiles/
media/
